body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: linear-gradient(to bottom, #1a161d, #4a385c);
    color: #fff;
}

header {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
}

header h1 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 3rem;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.game-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.game-card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
}

.game-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.game-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.game-card h2 {
    margin-top: 0;
    font-size: 1.5rem;
    flex-grow: 1;
}

.game-card p {
    font-size: 1rem;
    color: #ccc;
}
