body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #2c3e50;
    font-family: sans-serif;
    color: white;
}

h1 {
    margin-bottom: 2rem;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 300px;
    height: 300px;
}

.color-box {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    cursor: pointer;
    transition: opacity 0.2s, transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.color-box:hover {
    opacity: 0.8;
}

.green {
    background-color: #2ecc71;
}

.red {
    background-color: #e74c3c;
}

.yellow {
    background-color: #f1c40f;
}

.blue {
    background-color: #3498db;
}

.active {
    box-shadow: 0 0 20px 5px #fff;
    opacity: 1 !important;
}

.pressed {
    /* Diminui ligeiramente o tamanho para dar a sensação de ser pressionado */
    transform: scale(0.95);

    /* Adiciona uma sombra interna para criar profundidade */
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.5);
}

#start-btn {
    margin-top: 2rem;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #9b59b6;
    color: white;
}

.back-arrow {
    position: absolute;
    padding: 12px;
    border-radius: 20px;
    top: 20px;
    left: 20px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #ffffff;
    background-color: #333;
}

.back-arrow:hover {
    background-color: #555;
}