* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    90deg,
    rgb(200, 70, 180) 0%,
    rgb(63, 2, 89) 100%
  );
}

.board {
    display: grid;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    grid-template-columns: repeat(3,auto);
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}

/* como eu fiz o X*/
.cel.x::before,
.cell.x::after {
    content: "";
    height: calc(100px * 0.15);
    width: calc(100px * 0.9);
    background: black;
    position: absolute;
}

.cel.x::before {
    transform: rotate(45deg);
}

.cell.x::after {
    transform: rotate(-45deg);
}


.winning-message {
    display: none;
    
}